.DS_Store
jspsych-6.3.1/.DS_Store
jspsych-6.3.1/plugins/.Rhistory
jspsych-6.3.1/.DS_Store
.DS_Store
stims/.DS_Store
stims/.DS_Store
stims/animals/.DS_Store
stims/animals/basic/.DS_Store
jspsych-6.3.1/.DS_Store
