.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex: 33.33%;
  padding: 5px;
  display: flex;
  align-items: center;
}

.jspsych-btn {
  border: 5px solid transparent;
  align-items: center;
}

.jspsych-html-button-response-button {
  border: 5px solid transparent;
  color: #333;
  align-items: center;
}

#html-button-response-catact-submit {
  border: 5px solid;
  font-size: 40px;
  font-weight: bold;
}

