.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex: 33.33%;
  padding: 5px;
  display: flex;
  align-items: center;
}

.jspsych-btn {
  border: 1px solid black;
  align-items: center;
  padding: 6px 6px;
  border-radius: 0px;
  line-height:0;
}

.jspsych-html-button-response-button {
  border: 5px solid transparent;
  color: #333;
  align-items: center;
}

#html-button-response-catact-submit {
  border: 5px solid;
  font-size: 40px;
  font-weight: bold; 
  line-height: 1.4;
}

.grid-container {
    border: 0px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: auto;
    max-width: 400px;
    align-items:  center;
    justify-items: center;
    padding: 2px;
    margin: auto;
    text-align: center;
}

.grid-container-test {
    border: 0px solid black;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    width: auto;
    max-width: 800px;
    align-items:  center;
    justify-items: center;
    padding: 2px;
    margin: auto;
    text-align: center;
}

 #container {
   width: auto;
}

#container2 {
  width: 500px;
}

figure {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
